html {
    min-height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient(#333, #CCC);
    background-attachment: fixed;
    Background-color: #333;
    height: 100%;
    color: #000;
}

.body-offset {
    position: relative;
    top: 0;
}

.dsh-container {
    margin-top: 40px;
}

.sc-container {
    margin-top: 40px;
    max-width: 537px;
}

.control-label {
    font-weight: 500;
}

.validation-msg {
    display: block;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}

@media (max-width: 575.98px) {
    .container-fluid {
        padding: 0;
    }
    .container-md {
        padding: 0;
    }
}


.dropdown-menu {
    background-color: #eee;
}

.dropdown-item:hover {
    background-color: #AAA;
}

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
} */

/* CreateTeam Index View */
.table-header {
    padding: 0 20px 10px 0;
    min-width: 130px;
}
.table-header-badge {
    padding: 0 20px 10px 0;
}
.table-data {
    padding: 0 20px 10px 0;
}
.table-data-badge {
    padding-left: 10px;
    vertical-align: top;
}

/* SurveySummary page   */

.sr-team-title {
    width: 100%;
    color: #fff;
    background-color: #929292;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}
.sr-team {
}
.sr-student-card {
    /*border: 1px solid black;*/
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
        0 12.5px 10px rgba(0, 0, 0, 0.06), 
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.sr-student-name {
    display: inline-block;
    text-decoration: underline;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/*************************************
 *              HighChart
 *************************************/

.highcharts-figure, .highcharts-data-table table {
    min-width: 320px;
    max-width: 500px;
    margin: 1em auto;
}

/*************************************
 *           Comments About
 *************************************/

.cb-tone-summary-box {
    min-height: 50px;
    background-color: #774316;
    background-color: rgba(77,43,16,.2);
}
.cb-question-group {
    padding: 20px 0 20px 0;
}
.cb-question {
    border-bottom: 1px solid black;
    border-radius: 7px;
    padding: 10px 10px 0 10px;
    background-color: rgba(76,76,76,.1);
    color: black;
    font-size: 1.3em;
    text-align: left;
}
.cb-answer-group {
    padding: 0 20px 0 20px;
}
.cb-student-and-grade {
    font-weight: bold;
    margin-top: 25px;
}
.cb-peer-answer {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 4px;
    background-color: white;
}
.cb-tone-button {
    border-radius: 5px;
}

/*************************************
 *           SurveyResponses
 *************************************/

.sur-survey{
    padding: 20px;
}

/*************************************
 *           Landing Page
 *************************************/

.landing-page {
    margin: 0 -15px 0 -15px;
    color: #fff;
}
.landing-page-quote {
    font-size: 2.0rem;
    text-align: center;
    padding-top: 36px;
}
@media (max-width: 575.98px) {
    .landing-page-quote {
        font-size: 1.3rem;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .landing-page-quote {
        font-size: 1.3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .landing-page-quote {
        font-size: 1.8rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .landing-page-quote {
        font-size: 2.3rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .landing-page-quote {
        font-size: 2.8rem;
    }
}

.landing-page-author {
    float: right;
    color: #FFF;
    margin-right: 10px;
}

.landing-page-image {
    width: 100%;
}
/*************************************
 *           Dashboard Page
 *************************************/
.dsh-title {
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin: 2px auto 0 auto;
    background-color: #777;
    color: #FFF;
    letter-spacing: 3px;
}
.dsh-process {
    margin-left: -20px;
    color: #000;
    font-weight: 500;
}
.dsh-process a:link,
.dsh-process a:visited {
    color: #000;
}
.dsh-process a:hover,
.dsh-process a:active {
    font-weight:700;
}

.dsh-content {
    padding: 20px;
    background-color: #DDD;
    border-radius: 0 0 20px 20px;
}
.dsh-content-image {
    margin-bottom: 11px;
}
ol {
    font-size: 1.2em
}
.dsh-item {
    margin: 5px 5px 0 5px;
    width: 200px;
}
.dsh-no-items {
    margin-left: 20px;
}
.dsh-card-survey {
    width: 16rem;
    color: #000;
    border-radius: 5px;
}
.dsh-card-team {
    width: 16rem;
    color: #000;
    border-radius: 5px;
}
.dsh-card-launched {
    width: 16rem;
    color: #000;
    border-radius: 5px;
}
/*************************************
 *           Landing Page
 *************************************/
.mini-body {
    /*background-color: #333;*/
}
.mini-container {
    background-color: #DDD;
    width: 350px;
    margin: 40px auto;
    padding: 20px 20px 5px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px 0 #777;
}
.dsh-footer {
    padding: 0 0 4px 20px;
}
.dlg-footer {
    border-top: 1px solid #EEE;
    padding-top: 10px;
    margin-top: 20px;
}

footer {
    color: #666;
}

/*************************************
 *       Create Peer Group Page
 *************************************/

.create-team-image {
    width: 100%;
}

/*************************************
 *       ViewSurvey/Index
 *************************************/

.vs-container {
    margin-top: 40px;
}
.vs-title {
    border-radius: 20px 20px 0 0;
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin: 2px auto 0 auto;
    background-color: #777;
    color: #FFF;
    letter-spacing: 3px;
    text-align: center;
}
.vs-actions {
    margin: 40px 0 0 0
}
.vs-survey-questions {
    font-size: 1.2em;
}
.vs-survey-question {
    margin-bottom: 20px;
}
.vs-tr {
}
.vs-td-index {
    text-align: center;
    vertical-align:top;
    padding: 0 .5em 0 1em;
}
.vs-td-question {
    text-align: left;
    vertical-align: top;
    padding-bottom: 1em;
}

/*************************************
 *       ViewTeam/Index
 *************************************/
.vt-tr {
}
.vt-td-index {
    text-align: left;
    vertical-align: top;
    padding: .5em 2em 0 0;
}

.survey-question-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex: 0 0 800px;
}

.survey-question-box {
    padding-bottom: 10px;
    width: 750px;
}

.survey-question-box textarea {
    width: 100%;
    resize: vertical;
    height: 6em;
    min-height: 2.3em;
}
.survey-delete-box {
    padding-left: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

