@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-md dsh-container">
    <div class="dsh-title">
        <h2 style="text-align: center;">About Sidekick</h2>
    </div>
    <div class="dsh-content">
        <p>Use this area to provide additional information.</p>
    </div><!-- dsh-content -->
</div><!-- container -->
