@{
    ViewBag.Title = "Contact";
}

<div class="container-md dsh-container">
    <div class="dsh-title">
        <h2 style="text-align: center;">Contact Sidekick</h2>
    </div>
    <div class="dsh-content">
        <address>
            One Mill Plain Blvd.<br />
            Vancouver, WA 98682<br /><br />
            <strong>Phone:</strong> 360.867.5309
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@robin5.net">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@robin5.net">Marketing@example.com</a>
        </address>
    </div><!-- dsh-content -->
</div><!-- container -->

