@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="landing-page">
    <div>
        <p class="landing-page-quote">&quot; Alone we can do so little; together we can do so much."</p>
        <p class="landing-page-author"><em>- Helen Keller</em></p>
    </div>
    <div>
        <img src="/Content/Images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg" class="landing-page-image" />
    </div>
</div>