@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
}

    <div class="landing-page">
        <div style="width:100%">
            <p class="landing-page-quote">&quot; Alone we can do so little; together we can do so much."</p>
            <p class="landing-page-author"><em>- Helen Keller</em></p>
        </div>
        <div style="width: 100%">
            <img src="/Content/Images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg" style="width: 100%" />
        </div>
    </div>