<!-- Submit Button -->
<button id="btn-submit" name="action" type="submit" class="btn btn-success"
        value="submit">
    Submit
</button>

&nbsp;|&nbsp;

<!-- Cancel Button -->
<a id="btn-cancel" href="@Url.Action("Index","Dashboard")" class="btn btn-danger">
    Cancel
</a>

