@{
    var submit = ViewData["Submit"] ?? "Submit";
    var cancel = ViewData["Cancel"] ?? "Cancel";
    string controller = (string)ViewData["cancel-controller"] ?? "Dashboard";
    string action = (string)ViewData["cancel-action"] ?? "Index";
    int? id = (int?)ViewData["cancel-action-id"];
}

<!-- Submit Button -->
<button id="btn-submit" name="action" type="submit" class="btn btn-success" value="submit">
    @submit
</button>

&nbsp;|&nbsp;

<!-- Cancel Button -->
@if (id == null)
{
    <a id="btn-cancel" href="@Url.Action(action, controller)" class="btn btn-danger">@cancel</a>
}
else
{
    <a id="btn-cancel" href="@Url.Action(action, controller, new { id = id }, null)" class="btn btn-danger">@cancel</a>
}
