@{
    var submit = ViewData["Submit"] ?? "Submit";
    var cancel = ViewData["Cancel"] ?? "Cancel";
    var controller = ViewData["Controller"] ?? "Dashboard";
    var action = ViewData["Action"] ?? "Index";
}

<!-- Submit Button -->
<button id="btn-submit" name="action" type="submit" class="btn btn-success" value="submit">
    @submit
</button>

&nbsp;|&nbsp;

<!-- Cancel Button -->
<a id="btn-cancel" href="javascript:history.back()" class="btn btn-danger">@cancel</a>
